
    .parent
    {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space_between;
        align-items: center;
    }
    .dropdown{
        position: relative;
        width: 80px;
        /* height: 150px; */
    }
    .part
    {
        margin: 10px;
        width: 48%;
        border-radius: 4px;
        display: block;
        background-color: #5B84B1FF;
    }
    .p1
    {
        color: #080f0f;
    }
    .p2
    {
        color: #a52422;
    }
    .scss
    {
        width: 50%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }
    .btncss
    {
        width: 25%;
        background-color: #7dd181;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }
    .btncss:hover
    {
        background-color: #4b7f52;
    }
.topnav a
{
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover
{
    background-color: #ddd;
    color: black;
}

.topnav a.active
{
    background-color: #4CAF50;
    color: white;
}

.uname
{
    position: relative;
    left: 0px;
}